In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('working-df/AviationData.csv', encoding='latin-1')

df.info()

C:\Users\Joseph Harvey\AppData\Local\Temp\ipykernel_19740\1037979182.py:6: DtypeWarning: Columns (6,7,28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('working-df/AviationData.csv', encoding='latin-1')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50132 non-null  object
 9   Airport.Name            52704 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87507 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81793 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82505 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

I notice the warning about mixed datatypes in columns 6, 7, & 28. I will work on cleaning that up later.

In [4]:
df.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

# Cleaning the Data
rename columns to remove dots as they may cause errors in Python (replace dots with dashes or underscores)

In [5]:
# replace dots in column names with underscores
df.columns = df.columns.str.replace('.', '_')

In [6]:
df.head()

,Event_Id,Investigation_Type,Accident_Number,Event_Date,Location,Country,Latitude,Longitude,Airport_Code,Airport_Name,...,Purpose_of_flight,Air_carrier,Total_Fatal_Injuries,Total_Serious_Injuries,Total_Minor_Injuries,Total_Uninjured,Weather_Condition,Broad_phase_of_flight,Report_Status,Publication_Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

Check for duplicate rows

In [7]:
# check for duplicate rows in the Event_Id column
duplicate_rows_events = df[df.duplicated(subset=['Event_Id'], keep=False)]

duplicate_rows_events.head(10)

,Event_Id,Investigation_Type,Accident_Number,Event_Date,Location,Country,Latitude,Longitude,Airport_Code,Airport_Name,...,Purpose_of_flight,Air_carrier,Total_Fatal_Injuries,Total_Serious_Injuries,Total_Minor_Injuries,Total_Uninjured,Weather_Condition,Broad_phase_of_flight,Report_Status,Publication_Date
117,20020917X01908,Accident,DCA82AA012B,1982-01-19,"ROCKPORT, TX",United States,NaN,NaN,RKP,ARANSAS COUNTY AIRPORT,...,Personal,NaN,3.0,0.0,0.0,0.0,IMC,Approach,Probable Cause,19-01-1983
118,20020917X01908,Accident,DCA82AA012A,1982-01-19,"ROCKPORT, TX",United States,NaN,NaN,RKP,ARANSAS COUNTY AIRPORT,...,Executive/corporate,NaN,3.0,0.0,0.0,0.0,IMC,Approach,Probable Cause,19-01-1983
153,20020917X02259,Accident,LAX82FA049A,1982-01-23,"VICTORVILLE, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,4.0,0.0,VMC,Unknown,Probable Cause,23-01-1983
158,20020917X02400,Accident,MIA82FA038B,1982-01-23,"NEWPORT RICHEY, FL",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,0.0,0.0,3.0,VMC,Cruise,Probable Cause,23-01-1983
159,20020917X02400,Accident,MIA82FA038A,1982-01-23,"NEWPORT RICHEY, FL",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,0.0,0.0,3.0,VMC,Approach,Probable Cause,23-01-1983
160,20020917X02259,Accident,LAX82FA049B,1982-01-23,"VICTORVILLE, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,4.0,0.0,VMC,Cruise,Probable Cause,23-01-1983
242,20020917X02585,Accident,SEA82DA028A,1982-02-06,"MEDFORD, OR",United States,NaN,NaN,MFR,MEDFORD-JACKSON COUNTY,...,Aerial Application,NaN,0.0,0.0,0.0,3.0,VMC,Taxi,Probable Cause,06-02-1983
244,20020917X02173,Accident,LAX82DA065B,1982-02-06,"SAN JOSE, CA",United States,NaN,NaN,RHV,RIED HILLVIEW,...,Personal,NaN,0.0,0.0,0.0,3.0,VMC,Standing,Probable Cause,06-02-1983
245,20020917X02585,Accident,SEA82DA028B,1982-02-06,"MEDFORD, OR",United States,NaN,NaN,MFR,MEDFORD-JACKSON COUNTY,...,Personal,NaN,0.0,0.0,0.0,3.0,VMC,Taxi,Probable Cause,06-02-1983
248,20020917X02173,Accident,LAX82DA065A,1982-02-06,"SAN JOSE, CA",United States,NaN,NaN,RHV,RIED HILLVIEW,...,Personal,NaN,0.0,0.0,0.0,3.0,VMC,Taxi,Probable Cause,06-02-1983

I see here that though these duplicate rows do represent separate aircraft in multi-aircraft incidents, the injury and/or fatality numbers are combined. This would constitute duplicate numbers in certain columns that would render errors in the analysis.

So let's remove the duplicates from this subset.

In [8]:
# remove the duplicate rows using the Event_Id column
df = df.drop_duplicates(subset=['Event_Id'], keep='first')

In [12]:
# check for duplicates again in Event_Id column
duplicate_rows_events = df[df.duplicated(subset=['Event_Id'], keep=False)]

duplicate_rows_events.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event_Id                0 non-null      object
 1   Investigation_Type      0 non-null      object
 2   Accident_Number         0 non-null      object
 3   Event_Date              0 non-null      object
 4   Location                0 non-null      object
 5   Country                 0 non-null      object
 6   Latitude                0 non-null      object
 7   Longitude               0 non-null      object
 8   Airport_Code            0 non-null      object
 9   Airport_Name            0 non-null      object
 10  Injury_Severity         0 non-null      object
 11  Aircraft_damage         0 non-null      object
 12  Aircraft_Category       0 non-null      object
 13  Registration_Number     0 non-null      object
 14  Make                    0 non-null      object
 15  Model                   0 non-null      object
 16  Amateur_Built           0 non-null      object
 17  Number_of_Engines       0 non-null      float64
 18  Engine_Type             0 non-null      object
 19  FAR_Description         0 non-null      object
 20  Schedule                0 non-null      object
 21  Purpose_of_flight       0 non-null      object
 22  Air_carrier             0 non-null      object
 23  Total_Fatal_Injuries    0 non-null      float64
 24  Total_Serious_Injuries  0 non-null      float64
 25  Total_Minor_Injuries    0 non-null      float64
 26  Total_Uninjured         0 non-null      float64
 27  Weather_Condition       0 non-null      object
 28  Broad_phase_of_flight   0 non-null      object
 29  Report_Status           0 non-null      object
 30  Publication_Date        0 non-null      object
dtypes: float64(5), object(26)
memory usage: 0.0+ bytes

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 87951 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event_Id                87951 non-null  object
 1   Investigation_Type      87951 non-null  object
 2   Accident_Number         87951 non-null  object
 3   Event_Date              87951 non-null  object
 4   Location                87899 non-null  object
 5   Country                 87729 non-null  object
 6   Latitude                34212 non-null  object
 7   Longitude               34203 non-null  object
 8   Airport_Code            49484 non-null  object
 9   Airport_Name            52031 non-null  object
 10  Injury_Severity         86961 non-null  object
 11  Aircraft_damage         84848 non-null  object
 12  Aircraft_Category       32181 non-null  object
 13  Registration_Number     86601 non-null  object
 14  Make                    87888 non-null  object
 15  Model                   87859 non-null  object
 16  Amateur_Built           87851 non-null  object
 17  Number_of_Engines       81924 non-null  float64
 18  Engine_Type             80908 non-null  object
 19  FAR_Description         31915 non-null  object
 20  Schedule                12360 non-null  object
 21  Purpose_of_flight       81829 non-null  object
 22  Air_carrier             16533 non-null  object
 23  Total_Fatal_Injuries    76684 non-null  float64
 24  Total_Serious_Injuries  75629 non-null  float64
 25  Total_Minor_Injuries    76191 non-null  float64
 26  Total_Uninjured         82088 non-null  float64
 27  Weather_Condition       83478 non-null  object
 28  Broad_phase_of_flight   60837 non-null  object
 29  Report_Status           81587 non-null  object
 30  Publication_Date        74352 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.5+ MB

In [10]:
# check for duplicate rows in the Accident_Number column to verify there are no more duplicates
duplicate_rows_accidents = df[df.duplicated(subset=['Accident_Number'], keep=False)]

if duplicate_rows_accidents.empty:
  print("No duplicate rows found.")
else:
  print("Duplicate rows found.")

No duplicate rows found.

## Columns that are not needed
Remove certain columns that are mostly empty and would not contain data useful to the intended analysis.

I propose removing Latitude, Longitude, Schedule, and Air_carrier as those columns are mostly empty and would not contribute to the analysis.

In [11]:
# remove Latitude, Longitude, Schedule, and Air_carrier columns
df = df.drop(['Latitude', 'Longitude', 'Schedule', 'Air_carrier'], axis=1)

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 87951 entries, 0 to 88888
Data columns (total 27 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event_Id                87951 non-null  object
 1   Investigation_Type      87951 non-null  object
 2   Accident_Number         87951 non-null  object
 3   Event_Date              87951 non-null  object
 4   Location                87899 non-null  object
 5   Country                 87729 non-null  object
 6   Airport_Code            49484 non-null  object
 7   Airport_Name            52031 non-null  object
 8   Injury_Severity         86961 non-null  object
 9   Aircraft_damage         84848 non-null  object
 10  Aircraft_Category       32181 non-null  object
 11  Registration_Number     86601 non-null  object
 12  Make                    87888 non-null  object
 13  Model                   87859 non-null  object
 14  Amateur_Built           87851 non-null  object
 15  Number_of_Engines       81924 non-null  float64
 16  Engine_Type             80908 non-null  object
 17  FAR_Description         31915 non-null  object
 18  Purpose_of_flight       81829 non-null  object
 19  Total_Fatal_Injuries    76684 non-null  float64
 20  Total_Serious_Injuries  75629 non-null  float64
 21  Total_Minor_Injuries    76191 non-null  float64
 22  Total_Uninjured         82088 non-null  float64
 23  Weather_Condition       83478 non-null  object
 24  Broad_phase_of_flight   60837 non-null  object
 25  Report_Status           81587 non-null  object
 26  Publication_Date        74352 non-null  object
dtypes: float64(5), object(22)
memory usage: 18.8+ MB

In [12]:
# Save this csv as a new file
df.to_csv('working-df/av_data-dropped-col-duplicates.csv', index=False)